<div class="cart-custom-field field-derively-time">
  <p>選べる特典</p>
  <select id="" name="attributes[選べる特典]" required>
    <option value="" selected>選択する</option>
  {% comment %}<option value="中味汁 180g"{% if cart.attributes["選べる特典"] == "中味汁 180g" %} selected{% endif %}>中味汁 180g</option>{% endcomment %}
  <option value="牛汁 180g"{% if cart.attributes["選べる特典"] == "牛汁 180g" %} selected{% endif %}>牛汁 180g</option>
  <option value="ヤギ汁 180g"{% if cart.attributes["選べる特典"] == "ヤギ汁 180g" %} selected{% endif %}>ヤギ汁 180g</option>
  {% comment %}<option value="アヒル汁 180g"{% if cart.attributes["選べる特典"] == "アヒル汁 180g" %} selected{% endif %}>アヒル汁 180g</option>{% endcomment %}
  <option value="なし"{% if cart.attributes["選べる特典"] == "なし" %} selected{% endif %}>なし</option>
  </select>
</div>