<footer>
  <div id="links">
    <div class="bg_photo">

    <picture><source srcset="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_photo.png" media="(min-width:600px)">
          <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_photo_sp.png?v=1717985050" alt=""></picture>
  </div>
  <div class="links_ctn">
    <div class="inner">
      <ul class="links_ctt" data-aos="fade">
        <li>
          <h4 class="ttl_write">よくあるご質問</h4>
          <div class="btn_round_min">
            <a href="/pages/faq">詳しく見る<span class="arrow-right"></span></a>
          </div>
        </li>
        <li>
          <h4 class="ttl_write">お問い合わせ</h4>
          <div class="btn_round_min">
            <a href="/pages/contact-form">詳しく見る<span class="arrow-right"></span></a>
          </div>
        </li>
        <li>
          <h4 class="ttl_write">店舗情報</h4>
          <div class="btn_round_min">
            <a href="https://www.onikuno-shoten.com/" target="_blank">詳しく見る<span class="arrow-right"></span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div><!-- links -->
  <div class="footer_bottom inner">
    <div class="logo_ctn">
      <a href="{{ routes.root_url }}">
      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/logo.png" alt="お肉の笑店公式オンラインストア"> {% endcomment %}
      <picture><source srcset="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/logo.png" media="(min-width:1025px)">
          <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/logo_sp_ft.png?v=1718072152" alt="お肉の笑店公式オンラインストア"></picture>

    </a>
      <p class="address">〒901-1207<br>沖縄県南城市字大里古堅929番地1</p>
    </div>
    <nav>
      <ul class="menu">
        <li class="li"><a href="{{ routes.root_url }}">TOP</a></li>
        <li class="li"><a href="/pages/about">お肉の笑店について</a></li>
        <li class="li_"><a>商品一覧</a>
        <ul class="sub_under">
          <li class="li"><a href="/collections/all#from_cat">種類から選ぶ</a></li>
          <li class="li"><a href="/collections/all#from_price">予算から選ぶ</a></li>
          <li class="li"><a href="/collections/all#from_use">用途から選ぶ</a></li>
        </ul></li>
        <li class="li"><a href="/pages/faq">よくあるご質問</a></li>
          <li class="li"><a href="/pages/company">会社概要</a></li>
            <li class="li"><a href="/pages/transaction">特定商取引法に基づく表記</a></li>
              <li class="li"><a href="/pages/policy">プライバシーポリシー</a></li>
      </ul>
    </nav>
    <ul class="menu_sub">
      <li class="menu_sub_li"><a href="/account">
        <!-- <img src="images/icon_login.svg" alt=""> -->
        <svg class="icon_svg" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5 12.4846C15.9531 12.4846 18.75 9.69116 18.75 6.24229C18.75 2.79342 15.9531 0 12.5 0C9.04687 0 6.25 2.79342 6.25 6.24229C6.25 9.69116 9.04687 12.4846 12.5 12.4846ZM12.5 15.6057C8.32812 15.6057 0 17.6969 0 21.848V23.4086C0 24.2669 0.703125 24.9692 1.5625 24.9692H23.4375C24.2969 24.9692 25 24.2669 25 23.4086V21.848C25 17.6969 16.6719 15.6057 12.5 15.6057Z" />
          </svg>
        <p>ログイン</p></a></li>
      <li class="menu_sub_li"><a href="/cart">
        <!-- <img src="images/icon_cart.svg" alt=""> -->
        <svg class="icon_svg" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.25 22.5C21.913 22.5 22.5489 22.7634 23.0178 23.2322C23.4866 23.7011 23.75 24.337 23.75 25C23.75 25.663 23.4866 26.2989 23.0178 26.7678C22.5489 27.2366 21.913 27.5 21.25 27.5C20.587 27.5 19.9511 27.2366 19.4822 26.7678C19.0134 26.2989 18.75 25.663 18.75 25C18.75 23.6125 19.8625 22.5 21.25 22.5ZM1.25 2.5H5.3375L6.5125 5H25C25.3315 5 25.6495 5.1317 25.8839 5.36612C26.1183 5.60054 26.25 5.91848 26.25 6.25C26.25 6.4625 26.1875 6.675 26.1 6.875L21.625 14.9625C21.2 15.725 20.375 16.25 19.4375 16.25H10.125L9 18.2875L8.9625 18.4375C8.9625 18.5204 8.99542 18.5999 9.05403 18.6585C9.11263 18.7171 9.19212 18.75 9.275 18.75H23.75V21.25H8.75C8.08696 21.25 7.45107 20.9866 6.98223 20.5178C6.51339 20.0489 6.25 19.413 6.25 18.75C6.25 18.3125 6.3625 17.9 6.55 17.55L8.25 14.4875L3.75 5H1.25V2.5ZM8.75 22.5C9.41304 22.5 10.0489 22.7634 10.5178 23.2322C10.9866 23.7011 11.25 24.337 11.25 25C11.25 25.663 10.9866 26.2989 10.5178 26.7678C10.0489 27.2366 9.41304 27.5 8.75 27.5C8.08696 27.5 7.45107 27.2366 6.98223 26.7678C6.51339 26.2989 6.25 25.663 6.25 25C6.25 23.6125 7.3625 22.5 8.75 22.5ZM20 13.75L23.475 7.5H7.675L10.625 13.75H20Z"/>
          </svg>
        <p>カート</p></a></li>
        <li class="menu_sub_li insta"><a href="https://www.instagram.com/onikunoshoten/" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/icon_insta.svg?v=1718072876" alt="インスタグラム">
          </svg>
        <p>Follow us!</p></a></li>
        <li class="menu_sub_li insta"><a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=927kcvyf" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/icon_line.svg?v=1718264569" alt="LINE">
          </svg>
        <p>公式LINE</p></a></li>
    </ul>
    <div class="contact">
      <a class="contact_btn" href="/pages/contact">
        <svg id="contact_svg" viewBox="0 0 36 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 30.9362C5.175 30.9362 4.469 30.6364 3.882 30.0369C3.295 29.4374 3.001 28.7159 3 27.8723V9.48937C3 8.64681 3.294 7.92579 3.882 7.3263C4.47 6.72681 5.176 6.42656 6 6.42554H30C30.825 6.42554 31.5315 6.72579 32.1195 7.3263C32.7075 7.92681 33.001 8.64783 33 9.48937V27.8723C33 28.7149 32.7065 29.4364 32.1195 30.0369C31.5325 30.6374 30.826 30.9372 30 30.9362H6ZM18 20.2128L30 12.5532V9.48937L18 17.1489L6 9.48937V12.5532L18 20.2128Z"/>
          </svg>
        <p>お問い合わせ</p>
      </a>
      <div class="tel">
        <svg id="tel_svg" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M37.4624 26.5073L29.6626 23.0121L29.641 23.0022C29.2361 22.829 28.7944 22.7595 28.3559 22.8C27.9173 22.8404 27.4958 22.9896 27.1294 23.234C27.0862 23.2625 27.0448 23.2934 27.0052 23.3267L22.9753 26.7622C20.4223 25.5221 17.7864 22.9062 16.5463 20.3862L19.9868 16.295C20.0199 16.2536 20.0514 16.2123 20.0812 16.1676C20.3203 15.8021 20.4654 15.3833 20.5035 14.9483C20.5417 14.5132 20.4717 14.0755 20.2997 13.6741V13.6542L16.7947 5.8411C16.5674 5.31669 16.1767 4.87984 15.6807 4.59576C15.1848 4.31169 14.6103 4.19562 14.043 4.26489C11.7995 4.56011 9.74016 5.6619 8.24965 7.36448C6.75913 9.06706 5.93935 11.254 5.9434 13.5168C5.9434 26.6629 16.639 37.3586 29.7851 37.3586C32.0479 37.3626 34.2348 36.5428 35.9374 35.0523C37.64 33.5618 38.7418 31.5025 39.037 29.259C39.1064 28.6919 38.9906 28.1175 38.7068 27.6216C38.423 27.1257 37.9865 26.7348 37.4624 26.5073ZM29.7851 34.7095C24.1663 34.7033 18.7795 32.4686 14.8064 28.4955C10.8334 24.5224 8.59862 19.1356 8.59248 13.5168C8.58625 11.9 9.16874 10.3363 10.2312 9.11753C11.2936 7.8988 12.7633 7.10846 14.3658 6.89411C14.3652 6.90072 14.3652 6.90737 14.3658 6.91398L17.8427 14.6957L14.4204 18.7918C14.3857 18.8318 14.3542 18.8744 14.3261 18.9193C14.0769 19.3016 13.9308 19.7418 13.9017 20.1972C13.8727 20.6527 13.9619 21.1079 14.1605 21.5187C15.6605 24.5867 18.7517 27.6546 21.8528 29.153C22.2666 29.3498 22.7244 29.4359 23.1815 29.4028C23.6386 29.3697 24.0792 29.2186 24.4604 28.9643C24.503 28.9356 24.5439 28.9047 24.583 28.8716L28.6079 25.4377L36.3896 28.9229H36.4078C36.196 30.5277 35.4069 32.0003 34.1879 33.0654C32.969 34.1305 31.4038 34.7149 29.7851 34.7095Z"/>
          </svg>
        <a href="tel:098-944-1733">098-944-1733</a>
      </div>
      <p class="hour">【営業時間】<br>平日・土曜日　9:00​～18:30<br>日曜日　10:00​～18:00<br>（水曜日定休）</p>
    </div>

    <div class="footer_sp">
      <ul class="menu">
        <li class="li"><a href="/pages/company">会社概要</a></li>
        <li class="li"><a href="/pages/transaction">特定商取引法に基づく表記</a></li>
        <li class="li"><a href="/pages/policy">プライバシーポリシー</a></li>
        </ul>
    <div>
    <p>お肉の笑店（有限会社三大食品）</p>
    <p class="address">〒901-1207<br>沖縄県南城市字大里古堅929番地1</p>
    </div>
    </div>
  </div>    <!-- footer_bottom -->
  <ul class="footer_sns">
    <li><a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=927kcvyf" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/icon_line.svg?v=1718264569" alt="LINE">
    </a></li>

    <li><a href="https://www.instagram.com/onikunoshoten/" target="_blank">
    <svg id="insta_svg" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.8 0H14.2C17.4 0 20 2.6 20 5.8V14.2C20 15.7383 19.3889 17.2135 18.3012 18.3012C17.2135 19.3889 15.7383 20 14.2 20H5.8C2.6 20 0 17.4 0 14.2V5.8C0 4.26174 0.61107 2.78649 1.69878 1.69878C2.78649 0.61107 4.26174 0 5.8 0ZM5.6 2C4.64522 2 3.72955 2.37928 3.05442 3.05442C2.37928 3.72955 2 4.64522 2 5.6V14.4C2 16.39 3.61 18 5.6 18H14.4C15.3548 18 16.2705 17.6207 16.9456 16.9456C17.6207 16.2705 18 15.3548 18 14.4V5.6C18 3.61 16.39 2 14.4 2H5.6ZM15.25 3.5C15.5815 3.5 15.8995 3.6317 16.1339 3.86612C16.3683 4.10054 16.5 4.41848 16.5 4.75C16.5 5.08152 16.3683 5.39946 16.1339 5.63388C15.8995 5.8683 15.5815 6 15.25 6C14.9185 6 14.6005 5.8683 14.3661 5.63388C14.1317 5.39946 14 5.08152 14 4.75C14 4.41848 14.1317 4.10054 14.3661 3.86612C14.6005 3.6317 14.9185 3.5 15.25 3.5ZM10 5C11.3261 5 12.5979 5.52678 13.5355 6.46447C14.4732 7.40215 15 8.67392 15 10C15 11.3261 14.4732 12.5979 13.5355 13.5355C12.5979 14.4732 11.3261 15 10 15C8.67392 15 7.40215 14.4732 6.46447 13.5355C5.52678 12.5979 5 11.3261 5 10C5 8.67392 5.52678 7.40215 6.46447 6.46447C7.40215 5.52678 8.67392 5 10 5ZM10 7C9.20435 7 8.44129 7.31607 7.87868 7.87868C7.31607 8.44129 7 9.20435 7 10C7 10.7956 7.31607 11.5587 7.87868 12.1213C8.44129 12.6839 9.20435 13 10 13C10.7956 13 11.5587 12.6839 12.1213 12.1213C12.6839 11.5587 13 10.7956 13 10C13 9.20435 12.6839 8.44129 12.1213 7.87868C11.5587 7.31607 10.7956 7 10 7Z" />
</svg>
    </a></li>
  </ul>
  <small>Copyright (C) SANDAI MEAT SHOP. All Rights Reserved.</small>
</footer>