
<main>
  <div class="under_fv">
    <h2 class="under_ttl under_ttl_company"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/company_ttl.png" alt="会社概要"></h2>
    <span class="deco deco1"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh1.png" alt=""></span>
    <span class="deco deco2"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh2.png" alt=""></span>
  </div>

<section id="profile" class="inner">
  <span class="fukidashi" data-aos="flip-left"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/company_sub_profile.png" alt="Profile"></span>
  <h3 data-aos="flip-left"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/company_ttl_profile.png" alt="会社概要"></h3>

    <div class="p-terms_wrap">
      <table>
        <tr>
          <th>会社名</th>
          <td>有限会社三大食品</td>
        </tr>
        <tr>
          <th>代表者名</th>
          <td>本村　登</td>
        </tr>
        <tr>
          <th>創業 / 設立</th>
          <td>1982年創業 / 2005年設立</td>
        </tr>
          <tr>
            <th>資本金</th>
            <td>300万円</td>
          </tr>
          <tr>
            <th>事業内容</th>
            <td>肉の卸売、小売、加工</td>
          </tr>
        <tr>
          <th>所在地</th>
          <td>〒901-1207 沖縄県南城市字大里古堅929番地1</td>
        </tr>
        <tr>
          <th>TEL</th>
          <td>
            <a href="tel:098-944-1733">098-944-1733</a>
          </td>
        </tr>
        <tr>
          <th>FAX</th>
          <td><a href="tel:098-944-4466"></a>098-944-4466</td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td>平日・土曜日：9:00~ 18:30（水曜日定休） / 日曜日：10:00~18:00 <br>
                  ※お電話対応：月/火/木/金/土 AM9:00~PM5:00 </td>
        </tr>
        <tr>
          <th>定休日</th>
          <td>水曜日</td>
        </tr>
        </table>
        </div>
</section>
<section id="access">
  <div class="inner">
    <h3 data-aos="flip-left"><span><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/company_sub_access.png" alt="access"></span>
      <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/company_ttl_access.png" alt="アクセスマップ">
    </h3>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7332074.064438311!2d118.78126205!3d26.192960199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f0.005!3m3!1m2!1s0x34e56e960d0a92eb%3A0xa867569cb50eb9c4!2z77yI5pyJ77yJ5LiJ5aSn6aOf5ZOB!5e0!3m2!1sja!2sjp!4v1716349218494!5m2!1sja!2sjp" width="1240" height="340" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div><!-- inner -->
  <span class="deco deco1"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_deco.png" alt=""></span>
  <span class="deco deco2"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_deco.png" alt=""></span>
</section>

</main>