<main>
    <div class="under_fv">
      <h2 class="under_ttl under_ttl_contact"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/contact_ttl.png" alt="お問い合わせ"></h2>
      <span class="deco deco1"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh1.png" alt=""></span>
      <span class="deco deco2"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh2.png" alt=""></span>
    </div>

  <section id="tel" class="inner">
    <span class="fukidashi" data-aos="flip-left"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/contact_sub_tel.png" alt="Tel"></span>
    <h3 data-aos="flip-left"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/contact_ttl_tel.png" alt="お電話から"></h3>
    <div class="tel">
      <svg id="tel_svg" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M37.4624 26.5073L29.6626 23.0121L29.641 23.0022C29.2361 22.829 28.7944 22.7595 28.3559 22.8C27.9173 22.8404 27.4958 22.9896 27.1294 23.234C27.0862 23.2625 27.0448 23.2934 27.0052 23.3267L22.9753 26.7622C20.4223 25.5221 17.7864 22.9062 16.5463 20.3862L19.9868 16.295C20.0199 16.2536 20.0514 16.2123 20.0812 16.1676C20.3203 15.8021 20.4654 15.3833 20.5035 14.9483C20.5417 14.5132 20.4717 14.0755 20.2997 13.6741V13.6542L16.7947 5.8411C16.5674 5.31669 16.1767 4.87984 15.6807 4.59576C15.1848 4.31169 14.6103 4.19562 14.043 4.26489C11.7995 4.56011 9.74016 5.6619 8.24965 7.36448C6.75913 9.06706 5.93935 11.254 5.9434 13.5168C5.9434 26.6629 16.639 37.3586 29.7851 37.3586C32.0479 37.3626 34.2348 36.5428 35.9374 35.0523C37.64 33.5618 38.7418 31.5025 39.037 29.259C39.1064 28.6919 38.9906 28.1175 38.7068 27.6216C38.423 27.1257 37.9865 26.7348 37.4624 26.5073ZM29.7851 34.7095C24.1663 34.7033 18.7795 32.4686 14.8064 28.4955C10.8334 24.5224 8.59862 19.1356 8.59248 13.5168C8.58625 11.9 9.16874 10.3363 10.2312 9.11753C11.2936 7.8988 12.7633 7.10846 14.3658 6.89411C14.3652 6.90072 14.3652 6.90737 14.3658 6.91398L17.8427 14.6957L14.4204 18.7918C14.3857 18.8318 14.3542 18.8744 14.3261 18.9193C14.0769 19.3016 13.9308 19.7418 13.9017 20.1972C13.8727 20.6527 13.9619 21.1079 14.1605 21.5187C15.6605 24.5867 18.7517 27.6546 21.8528 29.153C22.2666 29.3498 22.7244 29.4359 23.1815 29.4028C23.6386 29.3697 24.0792 29.2186 24.4604 28.9643C24.503 28.9356 24.5439 28.9047 24.583 28.8716L28.6079 25.4377L36.3896 28.9229H36.4078C36.196 30.5277 35.4069 32.0003 34.1879 33.0654C32.969 34.1305 31.4038 34.7149 29.7851 34.7095Z"/>
        </svg>
      <a href="tel:098-944-1733">098-944-1733</a>
    </div>

    <p class="hour">
      平日・土曜日　9:00​～18:30（水曜日定休）<br>日曜日　10:00​～18:00
    </p>
  </section>
  <section id="form">
    <div class="inner">
      <h3 data-aos="flip-left"><span><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/contact_sub_form.png" alt="Form"></span>
        <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/contact_ttl_form.png" alt="フォームから">
      </h3>
      <div class="p-contact_wrap">
          <div class="form_wrap">
            
            {% section 'contact-form' %}

          </div>
        </div><!-- p-contact_wrap -->
    </div><!-- inner -->
    <span class="deco deco1"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_deco.png" alt=""></span>
    <span class="deco deco2"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_deco.png" alt=""></span>
  </section>

  </main>
