<main>
  <div class="under_fv">
    <h2 class="under_ttl under_ttl_transaction"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/transaction_ttl.png" alt="特定商取引法に基づく表記"></h2>
    <span class="deco deco1"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh1.png" alt=""></span>
    <span class="deco deco2"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh2.png" alt=""></span>
  </div>

  <section class="p-terms_wrap inner">
    <div class="inner">

      <table>
        <tr>
          <th>販売業者</th>
          <td>有限会社三大食品</td>
        </tr>
        <tr>
          <th>運営統括責任者</th>
          <td>本村　登</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒901-1207 沖縄県南城市字大里古堅929番地1</td>
        </tr>
        <tr>
          <th>TEL</th>
          <td>
            <a href="tel:098-944-1733">098-944-1733</a>
          </td>
        </tr>
        <tr>
          <th>FAX</th>
          <td><a href="tel:098-944-4448">098-944-4448</a></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>order@sandai-s.jp</td>
        </tr>
        <tr>
          <th>取扱商品</th>
          <td>肉</td>
        </tr>
        <tr>
          <th>販売価格</th>
          <td>
            各商品ページをご参照ください。
          </td>
        </tr>
        <tr>
          <th>商品代金以外の必要料金</th>
          <td>
            送料・手数料（代引き手数料一律300円+税）はお客様のご負担となります。
          </td>
        </tr>
        <tr>
          <th>送料について</th>
          <td>送料として別途1500円頂戴いたします
          </td>
        </tr>
        <tr>
          <th>申し込みの有効期限</th>
          <td>
            原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。
          </td>
        </tr>
        <tr>
          <th>不良品</th>
          <td>
            商品の欠陥など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。
          </td>
        </tr>
        <tr>
          <th>販売数量</th>
          <td>
            特に指定はございません（商品によって設定あり）
          </td>
        </tr>
        <tr>
          <th>引き渡し時期</th>
          <td>
            ご注文・決済完了後、定休日を除く一週間以内に発送いたします。<br>
            ※製造・ご注文の状況により、発送日が前後する可能性がございます。あらかじめご了承ください。<br>
            ※お急ぎの方は、お問い合わせフォームよりご相談ください。
          </td>
        </tr>
        <tr>
          <th>お支払い方法</th>
          <td>
            クレジット・代引き
          </td>
        </tr>
        <tr>
          <th>お支払い期限</th>
          <td>
            代金引換の場合<br>
            商品のお届け時に、配達員に代金のお支払いをお願いします。
          </td>
        </tr>
        <tr>
          <th>返品・交換について</th>
          <td>
            商品の欠陥など、当店の不手際により不備が発生した場合は、代品がある場合には交換、無い場合にはご返品・ご返金として対応いたします。<br>
            商品到着後1週間以内に、お問合せフォームまたはお電話にてご連絡をいただけますようお願い申し上げます。その際お手数ですが、①お名前、②お電話番号、③受注番号（「ご注文確認メール」に記載されております）をお知らせください。手続きの手順について、ご案内させていただきます。
          </td>
        </tr>
      </table>

      <div class="kazari01"><img src="img/contents_bg01.svg" alt=""></div>
      <div class="kazari02"><img src="img/contents_bg01.svg" alt=""></div>
    </div><!-- /.inner -->
  </section><!-- /.p-company_wrap -->

</main>