<div class="fv_about">
  <h2 class="ttl_write">お肉の笑点について</h2>
  <div class="about_ttl_loop">
    <div class="about_ttl_loop_ctt"></div>
  </div>
</div>
<main>
  <section id="top_msg" class="area-1">
    <div class="wrapper">
      <div class="ctn inner" data-aos="fade-up" data-aos-delay="100">
        <div class="ctt_ttl">
        <h3 class="ttl_write">沖縄から遠いところにいても、<br>沖縄の食は身近に感じてほしい</h3>
      </div>
        <div class="ctt">
          <p>県外にいる家族や友人に、沖縄料理の素晴らしさを伝えたいとき、仕送りやプレゼントに。<br>
          お肉の笑店は、沖縄の味を全国に届けるために、美味しいお肉にこだわっています。<br>
          定番のあぐーや地元民が愛する汁物、そして当店オリジナルの自慢の「タレ漬け肉」。お肉のプロが選び、お肉のプロが作った沖縄ならではの商品をぜひお楽しみください！
          </p>
        </div>
      </div>
    </div><!-- inner -->
    <div class="top_msg_img">
      <picture><source srcset="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_bg_top_after.png" media="(min-width:600px)">
          <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_bg_top_after_sp.png" alt=""></picture>
    </div>
  </section>

  <section id="our_pride">
    <span class="fukidashi" data-aos="flip-left"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_sub_ourpride.png" alt="Our pride"></span>
    <h3 data-aos="flip-left"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_ttl_ourpride.png" alt="私たちの強みとこだわり"></h3>

    <ul>
    <li class="block" data-aos="fade-up">
      <div class="wrapper_bg">
        <div class="inner">
        <div class="ctt">
          <h4 class="ttl_write"><span class="no"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_01.png" alt="01">
          </span>肉文化が根強い沖縄で、<br class="is_sp">長年愛されてきた</h4>
          <p>皆様がご存知の通り、沖縄には独自の食文化があり、特に肉料理においては多様性と高い品質が評価されています。地域の豊かな肉料理は、地元の方々はもちろん、県外の方にも愛され続けています。<br>
          お肉の笑店（三大食品）は、沖縄の激しい食肉文化の中で長きにわたり皆様に支持され、成長を遂げてきました。<br>
          地元で長年愛されてきた直売所を中心に、食卓に高品質のお肉を届け続けています。</p>
        </div>
      </div>        <!-- inner -->
      </div>
      <span class="ctt_img" data-aos="flip-left">
        <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_pride1.png" alt="">
      </span>
    </li>
    <li class="block" data-aos="fade-up">
      <div class="wrapper_bg wrapper_bg_rev">
        <div class="inner">
        <div class="ctt ctt_rev">
          <h4 class="ttl_write"><span class="no"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_02.png" alt="02">
          </span>BBQ-タレ漬け肉に自信あり！</h4>
          <p>地元沖縄のBBQ文化に力を入れており、その分野で特に注目を集めています。その中で、私たちはタレ漬けの肉に自信があります。<br>
          にんにくの香りが食欲をそそる特製のタレに漬けた肉は、柔らかく味が濃厚でご飯やお酒がよく進みます。<br>
          一度食べたら病みつきになるオリジナルの商品、ぜひお試しください！
            </p>
        </div>
      </div>        <!-- inner -->
      </div>
      <span class="ctt_img ctt_img_rev" data-aos="flip-right">
        <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_pride2.png" alt="">
      </span>
    </li>
    <li class="block" data-aos="fade-up">
      <div class="wrapper_bg">
        <div class="inner">
        <div class="ctt ctt_3">
          <h4 class="ttl_write"><span class="no"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_03.png" alt="03">
          </span>オンラインショップでの<br class="is_sp">新たな挑戦</h4>
          <p>このたび、三大食品は直売所「お肉の笑店」のオンラインショップを開設することにしました。沖縄県内だけでなく、県外の皆様にとってより便利で新鮮な状態でお楽しみいただけるように。沖縄の豊かな肉料理を全国の皆様にお届けします。<br>
          そして、オンラインショップ開設にあたり、【真空パックタレ付き肉】を商品化しました。私たちの商品ラインナップが新たな一歩を踏み出すこの機会に、ぜひご期待ください！
            </p>
        </div>
      </div>        <!-- inner -->
      </div>
      <span class="ctt_img" data-aos="flip-left">
        <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_pride3.png" alt="">
      </span>
    </li>
  </ul>
  </section>
  <section id="shop">
    <div class="ctn inner" data-aos="fade-up">
      <div class="ctt">
        <h3><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_ttl_shop.png" alt="直売店"></h3>
        <p class="sub_ttl">SHOP</p>
        <div class="txt_box">
          <p>〒901-1207　沖縄県南城市字大里古堅929番地1<br>
            TEL：098-944-1733<br class="is_pc"> <span is="sp"> / </span>
            FAX：098-944-4448</p>

            <div class="hour">
              <p class="hour_ttl">営業時間</p>
              <p>平日・土曜日　AM 9:00~​PM 6:30</p>
              <p>　日　曜　日　AM10:00~​PM6:00</p>
              <p>　水　曜　日　定休日</p>
            </div>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d464.9052358601478!2d127.74604915576042!3d26.192716591680142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e56e960d0a92eb%3A0xa867569cb50eb9c4!2z77yI5pyJ77yJ5LiJ5aSn6aOf5ZOB!5e0!3m2!1sja!2sjp!4v1715911453481!5m2!1sja!2sjp" width="520" height="142" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
      </div>

    <div class="ctt_img">
      <img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/about_shop.png" alt="">
    </div>
    <span class="deco deco1"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_deco.png" alt=""></span>
    <span class="deco deco2"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/bg_deco.png" alt=""></span>
  </div>
    </section>
  
</main>
